@import '../../styles/colors';

.container {
    background-color: $white;
    position: relative;
    cursor: pointer;
    // border: 1px solid $black;
    box-shadow: 7px 10px 25px 5px rgba(0, 0, 0, 0.1);
    &:hover {
        .title {
            text-decoration: underline;
        }
    }
}

.thumbnail {
    overflow: hidden;
    width: 100%;
    min-height: 250px;
    position: relative;
}

.titleContainer {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 500;
}

.publishDate {
    font-size: 0.5rem;
}
