@import '../../../styles/animations/text-focus-in-contract.scss';
@import '../../../styles/animations/text-pop-up-top.scss';

.focus-in-contract {
  -webkit-animation: focus-in-contract 1s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: focus-in-contract 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.text-pop-up-top {
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
